.outerContainer{
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 800px){
  .chatContainer{
    position: relative;
    top:20px;
    max-width: 60%;
    margin-left:auto;
    margin-right:auto;
    height: calc(100% - 35px);
  }
}

@media screen and (max-width: 800px){
  .chatContainer{
    position: relative;
    top:0;
    width:100%;
    height: 100%;
  }
}

.chatContainer{
  padding: 0;
  display: flex;
  flex-direction: column;
}

.chatToolBarControlsWrapper{
  margin-left: auto;
}

.chatToolBarTitleWrapper_subtitle{
  line-height: 0;
  font-size: 11px;
}

.chatMessagesContainer{
  flex-grow:1;
  overflow-y: scroll;
}

.chatControlsContainer{
  background-color: rgba(0, 0, 0, 0.05);
}
.chatControlsContainer app-chat-controls{
  display: flex;
}
.chatToolBarControlsWrapper :link {
  color:white;
}
